@model Project_Ceustermans_Robin.ViewModels.EditVerzamelObjectViewModel

<h1 class="text-center">Verzamelobject bewerken</h1>

<form enctype="multipart/form-data" class="row-marge" asp-action="EditVerzamelObject">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row justify-content-center">

        <div class="form-group col-md-8 text-center">
            <span style="display: inline-block">
                @if (Model.Afbeelding != null)
                {
                    <img src="~/images/@Model.Afbeelding" class="card-img-top text-center" style="width: 35%" alt="afbeelding object">
                }
            </span>       
            <div class="custom-file row-marge">
                <input asp-for="NieuweAfbeelding" class="custom-file-input" id="customFile">
                <label asp-for="NieuweAfbeelding" class="custom-file-label" for="customFile">Kies een afbeelding</label>
            </div>
            <span asp-validation-for="NieuweAfbeelding" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Naam" class="control-label">Naam item</label>
            <input asp-for="Naam" type="text" class="form-control">
            <span asp-validation-for="Naam" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="CreatieJaar">Bouwjaar</label>
            <input asp-for="CreatieJaar" type="text" class="form-control">
            <span asp-validation-for="CreatieJaar" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label">Categorie</label>
            <select class="form-control" required="required" asp-items="Model.Categorieën" asp-for="CategorieID">
                <option value="">Selecteer een categorie</option>
            </select>
            <br />
            <span asp-validation-for="CategorieID" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Merk</label>
            <select class="form-control" asp-items="Model.Merken" asp-for="MerkID">
                <option value="">Selecteer een merk</option>
            </select>
            <br />
            <span asp-validation-for="MerkID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="AankoopPrijs">Aankoopprijs</label>
            <input asp-for="AankoopPrijs" type="text" class="form-control">
            <span asp-validation-for="AankoopPrijs" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Waarde">Actuele waarde</label>
            <input asp-for="Waarde" type="text" class="form-control">
            <span asp-validation-for="Waarde" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Breedte_Cm">Breedte</label>
            <input asp-for="Breedte_Cm" type="text" class="form-control">
            <span asp-validation-for="Breedte_Cm" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Hoogte_Cm">Hoogte</label>
            <input asp-for="Hoogte_Cm" type="text" class="form-control">
            <span asp-validation-for="Hoogte_Cm" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Lengte_Cm">Lengte</label>
            <input asp-for="Lengte_Cm" type="text" class="form-control">
            <span asp-validation-for="Lengte_Cm" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" >
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Vrije Mede-Eigenaren
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.MedeEigenaren.Count() > 0)
                    {
                        @foreach (var item in Model.MedeEigenaren)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.Voornaam)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Familienaam)
                                </td>
                                <td>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <a class="a2 text-success" asp-action="CreateMedeEigenaarObject"  asp-route-id="@item.MedeEigenaarID" asp-route-id2="@Model.VerzamelObjectID" >Voeg Toe</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="row-marge">
                            <td>
                                Geen Vrije Mede-Eigenaren gevonden
                            </td>
                        </tr>
                    }

                </tbody>
                </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Mede-Eigenaren van dit item
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @if (Model.MedeEigenaarObjecten.Count() > 0)
                    {
                        @foreach (var item in Model.MedeEigenaarObjecten)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.MedeEigenaar.Voornaam)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.MedeEigenaar.Familienaam)
                                </td>
                                <td>
                                    @if (User.IsInRole("admin"))
                                    {
                                    <a class="a2 text-success" asp-action="DeleteMedeEigenaarObject" asp-route-id="@item.MedeEigenaarID" asp-route-id2="@Model.VerzamelObjectID">Verwijder</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="row-marge">
                            <td>
                                Geen Mede-Eigenaren gevonden bij dit object
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-12">
            <label asp-for="Beschrijving">Beschrijving</label>
            <textarea asp-for="Beschrijving" class="form-control" rows="5" placeholder="vul hier bijkomde informatie over het voorwerp, bijvoorbeeld de staat"></textarea>
            <span asp-validation-for="Beschrijving" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" id="">
        <input type="submit" value="Pas verzamelobject aan" class="btn btn-primary" />
    </div>
</form>



