@model Project_Ceustermans_Robin.ViewModels.MerkOverzichtViewModel
@{
    ViewData["Title"] = "Merken";
}

@if (User.IsInRole("admin"))
{
    <div class="row row-marge">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
            <a class="btn testbtn " asp-action="CreateMerk" role="button">Merk toevoegen</a>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
}

@if (Model.Merken.Count() > 0)
{
    <table class="table row-marge">
        <thead>
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    Land
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Merken)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Land.Beschrijving)
                    </td>
                    <td>
                        <a class="a2" asp-action="DetailMerk" asp-route-id="@item.MerkID" >Details</a>
                        @if (User.IsInRole("admin"))
                        {
                            <a class="a2" asp-action="EditMerk" asp-route-id="@item.MerkID" >Bewerk</a>
                            <a class="a2" asp-action="DeleteMerk" asp-route-id="@item.MerkID" 
                               onclick="return confirm('Weet je zeker dat je het merk @item.Naam wilt verwijderen' )">
                        Verwijder</a>
                        }
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <h4 class="row-marge ">
        Er zijn geen merken aanwezig
    </h4>
}



@*<a class="a2" asp-action="Edit" asp-route-id="">Edit</a>*@