@model Project_Ceustermans_Robin.ViewModels.MerkOverzichtViewModel
@{
    ViewData["Title"] = "Merken";
}

@if (User.IsInRole("admin"))
{
    <div class="row justify-content-center row-marge">
        <div class="col-sm-3 text-center ">
            <a class="btn testbtn " asp-action="CreateMerk" role="button">Merk toevoegen</a>
        </div>
    </div>
}

@if (Model.Merken.Count() > 0)
{
    <div class="row-marge" style="height:400px;overflow:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naam
                    </th>
                    <th>
                        Land
                    </th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Merken)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Land.Beschrijving)
                        </td>
                        <td>
                            <a class="a2 text-dark" asp-action="DetailMerk" asp-route-id="@item.MerkID">Details</a>
                            @if (User.IsInRole("admin"))
                            {
                                <a class="a2 text-dark" asp-action="EditMerk" asp-route-id="@item.MerkID">Bewerk</a>
                                <a class="a2 text-danger" asp-action="DeleteMerk" asp-route-id="@item.MerkID"
                                   onclick="return confirm('Weet je zeker dat je het merk @item.Naam wilt verwijderen?' )">
                                    Verwijder
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4 class="row-marge ">
        Er zijn geen merken aanwezig
    </h4>
}