@model Project_Ceustermans_Robin.ViewModels.MedeEigenaarOverzichtViewModel
@{
    ViewData["Title"] = "Mede Eigenaren";
}

@if (User.IsInRole("admin"))
{
    <div class="row justify-content-center row-marge">
        <div class="col-sm-3 text-center">
            <a class="btn testbtn" asp-action="CreateMedeEigenaar" role="button">Mede Eigenaar toevoegen</a>
        </div>
    </div>
}

@if (Model.MedeEigenaren.Count() > 0)
{
    <div class="row-marge" style="height:400px;overflow:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Voornaam
                    </th>
                    <th>
                        Familienaam
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MedeEigenaren)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Voornaam)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Familienaam)
                        </td>
                        <td>
                            <a class="a2 text-dark" asp-action="DetailMedeEigenaar" asp-route-id="@item.MedeEigenaarID">Details</a>
                            @if (User.IsInRole("admin"))
                            {
                                <a class="a2 text-dark" asp-action="EditMedeEigenaar" asp-route-id="@item.MedeEigenaarID">Bewerk</a>
                                <a class="a2 text-danger" asp-action="DeleteMedeEigenaar" asp-route-id="@item.MedeEigenaarID"
                                   onclick="return confirm('Weet je zeker dat je mede-eigenaar @item.Voornaam @item.Familienaam wilt verwijderen')">
                                    Verwijder
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4 class="row-marge">
        Er zijn geen mede-eigenaren
    </h4>
}



@*<a class="a2" asp-action="Edit" asp-route-id="">Edit</a>*@